<<<<<<< HEAD
<p id="notice"><%= notice %></p>

<h1>Listing Categories</h1>

<ul>
    <% @categories.each do |category| %>

    <li><%= link_to category.name,category %></li>

    <% end %>

  </ul>
=======
<h1>Categories#index</h1>
<p>Find me in app/views/categories/index.html.erb</p>
>>>>>>> ff6dc8659dfeeb083599c4de4a3194abc72a20fe
