<<<<<<< HEAD
<h1><%= @category.name%></h1>
<% if @posts.each do |post|%>
<h3><%= link_to post.title,post %></h3>
<p><%=post.body%></p>
<% end.empty? %>
 <p>Entschuldigung,es gibt keine posts in dieses category</p>
<% end %>
<%= link_to "Back to categories",categories_path%>
=======
<h1>Categories#show</h1>

<p>Find me in app/views/categories/show.html.erb</p>
>>>>>>> ff6dc8659dfeeb083599c4de4a3194abc72a20fe
